<% content_for :title, "Editing sipef inference" %>

<h1>Editing sipef inference</h1>

<%= render "form", sipef_inference: @sipef_inference %>

<br>

<div>
  <%= link_to "Show this sipef inference", @sipef_inference %> |
  <%= link_to "Back to sipef inferences", sipef_inferences_path %>
</div>
