<p style="color: green"><%= notice %></p>

<% content_for :title, "Sipef inferences" %>

<h1>Sipef inferences</h1>

<div id="sipef_inferences">
  <% @sipef_inferences.each do |sipef_inference| %>
    <%= render sipef_inference %>
    <p>
      <%= link_to "Show this sipef inference", sipef_inference %>
    </p>
  <% end %>
</div>

<%= link_to "New sipef inference", new_sipef_inference_path %>
