<% content_for :title, "New sipef inference" %>

<h1>New sipef inference</h1>

<%= render "form", sipef_inference: @sipef_inference %>

<br>

<div>
  <%= link_to "Back to sipef inferences", sipef_inferences_path %>
</div>
